[submodule "thirdparty/src/boost"]
	path = thirdparty/src/boost
	url = https://github.com/boostorg/boost.git
[submodule "thirdparty/src/librdkafka"]
	path = thirdparty/src/librdkafka
	url = https://github.com/edenhill/librdkafka.git
